<h1>感想の新規登録</h1>
 <div class="nav nav-tabs justify-content-start>
   <%= link_to '一覧', themes_path, class: 'nav-link' %>
 </div>


 <%= form_with model: @theme, local: true do |f| %>
    <div class="form-group"></div>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', id: 'theme_name' %>
    

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 34, class: 'form-control' , id: 'theme_description' %>
    </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
  <% end %>
